.card {
  .crew {
    width: 100%;
  }
  .list-group {
    width: 100%;

    .list-group-item {
      color: white;
      background: transparent;
      justify-content: space-between;
    }

    .info {
      color: #fff;
      background-color: #17a2b8;
    }
  }
}
